<div *ngIf="selectedHealthCheckDetail && selectedHealthCheckDetail.statusHistory" class="container">
    <h2>{{selectedHealthCheckDetail.name}} Details</h2>

    <table class="table table-striped table-hover table-condensed">
        <tr>
            <th>URL</th>
            <th class="text-center" *ngFor="let eachDate of selectedHealthCheckDetail.statusHistory">{{eachDate.date | date: 'MM/dd'}}</th>
        </tr>
        <tr>
            <td>{{selectedHealthCheckDetail.uri}}</td>
            <td class="text-center" *ngFor="let eachDate of selectedHealthCheckDetail.statusHistory">
                <p><img [src]="eachDate.icon" height="25px"></p>
                {{eachDate.averageResponseTimeMS}}
                <span *ngIf="eachDate.averageResponseTimeMS!=null">ms</span>
            </td>
        </tr>
    </table>
</div>


<div *ngIf="healthCheckDetail">
    {{healthCheckDetail}}
</div>
