<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Update Config</h4>
    </div>
    <div class="modal-body" *ngIf="configData">

      <div style="height: 210px">
        <div class="col-lg-4">

          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name" [(ngModel)]="configData.name" tabindex="1">
          </div>

          <div class="form-group">
            <label for="protocol">Protocol</label>
            <select class="form-control" id="protocol" name="protocol" class="form-control"
                    [(ngModel)]="configData.protocol" tabindex="15">
              <option value="http">http</option>
              <option value="https">https</option>
              <option value="ftp">ftp</option>
            </select>
          </div>


          <div class="form-group">
            <label for="degradedResponseTimeMS">Failed Response Time (ms)</label>
            <input class="form-control" id="degradedResponseTimeMS" name="degradedResponseTimeMS"
                   [(ngModel)]="configData.degradedResponseTimeMS" tabindex="30">
          </div>

        </div>

        <div class="col-lg-4">

          <div class="form-group">
            <label for="pollFrequencyInSeconds">Polling Frequency</label>
            <input class="form-control" id="pollFrequencyInSeconds" name="pollFrequencyInSeconds"
                   [(ngModel)]="configData.pollFrequencyInSeconds" tabindex="5">
          </div>

          <div class="form-group">
            <label for="uri">URI</label>
            <input class="form-control" id="uri" name="uri" [(ngModel)]="configData.uri" tabindex="20">
          </div>

          <div class="form-group">
            <label for="failedResponseTimeMS">degraded response time (ms)</label>
            <input class="form-control" id="failedResponseTimeMS" name="failedResponseTimeMS"
                   [(ngModel)]="configData.failedResponseTimeMS" tabindex="35">
          </div>

        </div>

        <div class="col-lg-4">

          <div class="form-group">
            <label for="expectedResponseCode">expected response</label>
            <select class="form-control" id="expectedResponseCode" name="expectedResponseCode"
                    [(ngModel)]="configData.expectedResponseCode" tabindex="10">
              <option value="2XX">2XX</option>
              <option value="3XX">3XX</option>
              <option value="4XX">4XX</option>
              <option value="200">200</option>
              <option value="201">201</option>
              <option value="202">202</option>
              <option value="503">503</option>
            </select>
          </div>

          <div class="form-group">
            <label for="port">port</label>
            <input class="form-control" id="port" name="port" [(ngModel)]="configData.port" tabindex="25">
          </div>

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-warning" data-dismiss="modal" *ngIf="configData" (click)="disableConfig(configData)">{{configData.enabled ? 'Disable' : 'Enable'}}</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateConfig(configData)"
              tabindex="40">Save
        changes
      </button>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
